.bank-account-container {
  .save-button {
    border-radius: 25px;
    padding: 10px;
    border: 2px solid #640dd3;
    color: #640dd3;
    width: 7rem;
    margin-top: 2rem;
    background-color: white;
  }
}
